<div class="place">
  <h1>Farm</h1>
  <p>Earns 2-5 Gold</p>
  <button (click)="OnClick('farm')">Farm!</button>
</div>

<div class="place">
  <h1>Cave</h1>
  <p>Earns 5-10 Gold</p>
  <button (click)="OnClick('cave')">Cave!</button>
</div>

<div class="place">
  <h1>Casino</h1>
  <p>Earn up to or lose up to 100 gold</p>
  <button (click)="OnClick('casino')">Casino!</button>
</div>

<div class="place">
  <h1>House</h1>
  <p>Earns 7-15 Gold</p>
  <button (click)="OnClick('house')">House!</button>
</div>