<!--The content below is only a placeholder and can be replaced.-->
<hr>
<app-gitscore></app-gitscore>
<hr>
<app-ninjagold></app-ninjagold>

<div class="wrapper">
  <app-numberservice></app-numberservice>
</div>

<app-powerlevel></app-powerlevel>

<div class="wrapper">
  <app-layout></app-layout>
</div>

<div class="wrapper">
  <app-registration></app-registration>
</div>

<app-switchboard></app-switchboard>


<div class="wrapper">
  <h1>{{ title }}!</h1>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Importance</th>
        <th>Subject</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let email of emails">
        <td>{{email.from | lowercase}}</td>
        <td *ngIf="email.importance">High</td>
        <td *ngIf="!email.importance">Low</td>
        <td>{{email.subject}}</td>
        <td>{{email.content}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="wrapper">
  <h1>Retro Barcode Generator</h1>
  <div class="colorbar" *ngFor="let item of random" [ngStyle]="{'background-color':colors[item]}">
  </div>
  <button (click)=refreshColors()>Generate New Colors</button>
</div>

<div class="wrapper">
  <h1>US Time Zone Display</h1>
  <button [ngClass]="{'selected': ('PST'== zone)}" (click)="onButtonClick('PST')">PST</button>
  <button [ngClass]="{'selected': ('MST'== zone)}" (click)="onButtonClick('MST')">MST</button>
  <button [ngClass]="{'selected': ('CST'== zone)}" (click)="onButtonClick('CST')">CST</button>
  <button [ngClass]="{'selected': ('EST'== zone)}" (click)="onButtonClick('EST')">EST</button>
  <button [ngClass]="{'selected': ('UTC'== zone)}" (click)="onButtonClick('clear')">Clear</button>
  <h2>{{time | date:'yyyy-MM-dd HH:mm:ss' : zone }} {{zone}}</h2>
</div>